node_modules
.next
.git
.gitignore
.deploy

.env
.env.*
!.env.example
env.local

*.pem
db_dumps
*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*

Dockerfile*
compose*.yaml
docker-compose*.yaml

README.md
